.Round {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: white;
  border: none;
  /* display: none; */
}

.Round > img {
  width: 14px;
  height: 14px;
}

.leaf {
  background-color: rgba(46, 204, 113, 1);
}
